*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fc5d66;
    --secondary-color: #ffc05a;
    --light-color: #f9fafb;
    --dark-color: #272d35;
  }

body{
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
}

nav a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.hamburger .bar{
    display: block;
    width: 20px;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 50px;

}

.nav-logo{
    width: 81px;
    height: 32px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

nav .hamburger {
    display: none;
}
/*Utility classes*/

.container{
    width: 80%;
    padding: 50px;
    margin:0 auto;
}

.btn {
    display: inline-block;
    padding: 1.3rem 2.3rem;
    border: 1px solid var(--secondary-color);
    border-radius: 32px;
    background: var(--secondary-color);
    color: var(--dark-color);
    cursor: pointer;
}


.btn:hover {
    background: var(--primary-color);
    color: #fff;
    border-color: #fff;
  }

.section-header{
    text-align: center;
    margin-bottom: 2rem;
}

.section-header h2{
    margin-bottom: 0.5rem;
}

.heading-border{
    width: 64px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 0 auto 2rem;
}

/*Hero*/
.hero {
    background-image: url('../images/header-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
    color: white;
    height: 100vh;
}

.hero .hero-flex{
    display: flex;
    align-items: center;

}

.hero-content{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}

.hero-image{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    width: 100%;
}

.hero h1{
    margin-bottom: 1rem;
}

.hero p{
    margin-bottom: 1rem;
}

/*Learn section*/

@media(max-width:768px){
    .nav-items{
        flex-direction: column;
        top:15vh;
        position: absolute;
        width: 100%;
        left: 150%;
        align-items: center;
    }

    nav .hamburger {
        display: block;
    }

    nav .hamburger.active :nth-child(2){
        opacity: 0;
    }
    nav .hamburger.active :nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    nav .hamburger.active :nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }

    .nav-items.active{
        left: 0;
    }
    .hero-flex{
        flex-direction: column;
        gap: 20px;
    }

}